{% extends 'base_for_email.html' %}
{% block title %}TASK LIST{% endblock %}
{% block content %}
{% now "Y-m-d" as todays_date %}
<a href="https://127.0.0.1:8000/task/{{task_set.id}}"> 
  TASK {{task_set.event_root}} DETAIL </a>
  <div class="table-responsive">
    <table class="table3">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ACTION</th>
            <th scope="col">NOTE</th>
            <th scope="col">DATE</th>
            <th scope="col">PERSON</th>
            <th scope="col">DUE DATE</th>
            <th scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for  task_detail in  tasks  %}
          <tr>
            <td>
                {{ task_detail.action.name }} 
            </td>
            <td> {{ task_detail.text }} </td>
            <td>{{ task_detail.date }}</td>
            <td>
              {{ task_detail.person }}</td>
            <td>{{ task_detail.completed_date }}</td>
            <td>{{ task_detail.status.task_status_description }}</td>
          </tr>
        </tbody>
          {% endfor %} 
    </table>
  </div>
  {% endblock %}
<script>