{% if user.is_authenticated %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a 
          class="nav-link {% if dcpflag %}active{% endif %}"
          href="{% url 'nonconformance:dcp_detail' dcp_detail.id %}">
          {{ dcp_detail.nn_name }}
        </a>
      </li>
      {% for rpt in rpts %}
        {% if rpt.dcp_id == dcp_detail.id%}
      <li class="nav-item">
        <a
          class="nav-link {% if rptflag %}active{% endif %}"
              href="{% url 'nonconformance:rpt_detail' rpt.id %}">
              {{ rpt.rpt_name }} {{ rpt.rpt_process_status }} {{ rpt.dispatched_to | linebreaks}} 
        </a> 
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
{% endif %}