{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<header>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'date-time-phone/jquery-ui.css' %}">
    <link rel='stylesheet' href="{% static 'date-time-phone/jquery-ui-timepicker-addon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/fav/fav.ico' type="image" %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
  </head>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ver</span>tex
      </a>
      <ul class="nav nav-pills">
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" href="{% url 'about:author' %}">
            Author about
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" href="{% url 'about:tech' %}">
            Stack
          </a>
        </li>
        {% endwith %}
        {% if request.user.is_authenticated %}
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'posts:index' %} active{% endif %}"
            href="{% url 'posts:index' %}">
            News
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'nonconformance:dcp_list' %} active{% endif %}"
            href="{% url 'nonconformance:dcp_list' %}">
            DCP list
          </a>
        </li>
        {% if view_name == 'nonconformance:rpt_detail'%}

          {% if request.user.profile.department == "OFFICE OF AIRWORTHINESS" %}
            {% if request.user.profile.role == "HEAD" and rpt_detail.rpt_process_status.rpt_process_status == "SENT FOR OAW REVIEW"%}
            <li class="nav-item">
              <a href="{% url 'nonconformance:rpt_oaw_closure' rpt_detail.id %}">
                <button type="submit" class="btn btn-primary btn-sm"> OAW Closure </button>
              </a>
            </li>
            {% endif %}
            {% if rpt_detail.rpt_process_status.rpt_process_status != "SENT FOR OAW REVIEW"%}
              <li class="nav-item">
                <a href="{% url 'nonconformance:rpt_change_status' rpt_detail.id %}">
                  <button type="submit" class="btn btn-primary btn-sm"> RPT Change Status</button>
                </a>
              </li>
            {% endif %}
          {% endif %}
          {% if request.user.profile == rpt_detail.dispatched_to.profile %} 
            {% if rpt_detail.rpt_process_status.rpt_process_status == "SENT FOR DE REVIEW" %}        
              <li class="nav-item">
                <a href="{% url 'nonconformance:rpt_de_review' rpt_detail.id %}"> 
                 <button type="submit" class="btn btn-primary btn-sm"> RPT DE Review </button>
                </a>
              </li>
            {% endif %}
          {% endif %}
          {% endif %}
        {% if view_name == 'nonconformance:dcp_detail'%}
        {% if request.user.profile.department == "DESIGN OFFICE" and request.user.profile.role == "HEAD" %}
        <li class="nav-item">
            <a href="{% url 'nonconformance:rpt_create' dcp_detail.id %}">
              <button type="submit" class="btn btn-primary btn-sm">DCP dispatche</button>
            </a>
        </li>
        {% endif %}
        {% if request.user.profile.department == "DESIGN OFFICE" and request.user.profile.role == "HEAD" %}
        <li class="nav-item">
          <a href="{% url 'nonconformance:dcp_change_status' dcp_detail.id %}">
            <button type="submit" class="btn btn-primary btn-sm"> DCP Change Status</button>
          </a>
        </li>
        {% endif %}
        {% if request.user == dcp_detail.applicant.user and dcp_detail.nn_status.nn_status == "INITIATED" or dcp_detail.nn_status.nn_status == "SEND BACK" %}
        <li class="nav-item">
          {% comment %} <a class="nav-link {% if view_name  == 'nonconformance:dcp_detail' %} active{% endif %}" {% endcomment %}
          <a href="{% url 'nonconformance:dcp_edit' dcp_detail.id %}">
              Edit DCP
          </a>
        </li>
        {% endif %}
        {% if request.user.profile.department == "OFFICE OF AIRWORTHINESS" and dcp_detail.nn_status.nn_status == "INITIATED" %}
        <li class="nav-item">
          {% comment %} <a class="nav-link {% if view_name  == 'nonconformance:dcp_detail' %} active{% endif %}" {% endcomment %}
          <h6>
            <a href="{% url 'nonconformance:send_back' dcp_detail.id %}">
              Send back
            </a>
          </h6>
          <h6> 
            <a href="{% url 'nonconformance:dcp_change_status' dcp_detail.id %}">
              Ready for RPT
            </a>
          </h6>
        </li>
        {% endif %}
        {% endif %}
        {% endwith %}
        {% comment %} <li class="nav-item">
          <a class="nav-link {% if view_name  == 'posts:profile' %} active{% endif %}"
            href="{% url 'posts:profile' user.username %}">
            My profile
          </a>
        </li> {% endcomment %}
        {% comment %} <li class="nav-item">
          <a class="nav-link {% if view_name  == 'posts:post_create' %} active{% endif %}"
            href="{% url 'posts:post_create'%}">
            Add post
          </a>
        </li> {% endcomment %}
        {% comment %} <li class="nav-item">
          <a class="nav-link {% if view_name  == 'posts:tasks_create' %} active{% endif %}"
            href="{% url 'posts:tasks_create'%}">
            Add task
          </a>
        </li>         {% endcomment %}
          {% comment %} <li class="nav-item">
            <a class="nav-link {% if view_name  == 'posts:tasks_list' %}active{% endif %}" 
              href="{% url 'posts:tasks_list' %}">
              Tasks list
            </a>
          </li>  {% endcomment %}
          {% comment %} <li class="nav-item">
            <a class="nav-link {% if view_name  == 'posts:item_list_msn0000' %}active{% endif %}" 
              href="{% url 'posts:item_list_msn0000' %}">
              JC Report
            </a>
          </li> {% endcomment %}
        <a class="nav-link link-light {% if view_name  == 'user:password_change_form' %}active{% endif %}"
          href="{% url 'user:password_change_form' %}">Change password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light {% if view_name  == 'user:logout' %} active{% endif %}"
            href="{% url 'user:logout'%}">logout</a>
        </li>
        <li>
          User: {{ user.username }}
        </li>
        {% else %}
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link link-light {% if view_name  == 'user:login' %} active{% endif %}"
            href="{% url 'user:login'%}">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light {% if view_name  == 'user:signup' %} active{% endif %}"
            href="{% url 'user:signup'%}"></a>
        </li>
        {% endwith %}
        {% endif %}
      </ul>
    </div>
  </nav>
  {% cache 600 navbar %}
  <nav class="navbar navbar-light" style="background-color: orange">
    <div class="container-fluid"> 
      <ul class="nav nav-pills"> 
        <div class='card'>
        <li class="nav-item">
          <img src="{% static 'img/dirham_o73cttces50f_32.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> <b> {{ currency_aed }}</b>
        </li>
      </div>
      <div class='card'>
        <li class="nav-item">
          <img src="{% static 'img/yuan_4mmhxvmmutfn_32.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> <b> {{ currency_cnr }}</b>
        </li>
      </div>
      <div class='card'>
        <li class="nav-item">
          <img src="{% static 'img/dollar_p958k4k9mxc5_32.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> <b> {{ currency_usd }}</b>
        </li>
      </div>
      <div class='card'>
        <li class="nav-item">
          <img src="{% static 'img/evro_xgst0mbsgxpi_32.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> <b> {{ currency_eur }}</b>
        </li>
      </div>
      </div>
      </ul>
    </div>
  </nav>  
  {% endcache %}
</header>
