{% block content %}
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
<table
  class="table table-bordered border-primary"
  id = "table"
  data-filter-control="true"
  data-show-search-clear-button="true">
    <thead class="thead-dark">
        <tr>
        <th data-field="JC NUMBER">JC NUMBER</th>
        <th data-field=>DESCRIPTION</th>
        <th scope="col">DRAWINGS</th>
        <th data-field=>STATION</th>
        <th data-field data-filter-control ="select">JC STATUS</th>
        <th data-field=>BOM VER</th>
        <th data-field=>ROUT VER</th>
        </tr>
    </thead>
    <tbody id ="myTable">
      {% for items in item_list %}
          {% for tasks in task %}
              {% if items.item == tasks.item %}
              <tr>
                <td>
                  <a href="{% url 'posts:constrained_tasks' items.item.id %}">
                    {{ items }}
                  </a>
                  </td>
                <td>{{ items.item.description }} </td>
                <td> 
                  {%for dwg in items.item.bom.all %}
                    <li>{{ dwg }} {{ dwg.revision }} {{ dwg.state }}</li>
                    {% endfor %}
                <td>
                    {{ items.station }}
                </td>
                <td>
                      {{ tasks.status }}
                </td>
                <td>{{ items.item.bom_ver }}</td>
                <td>{{ items.item.rout_ver }}</td>
              </tr>
            {% endif %}  
      {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}