{% extends "base.html" %}
{% block description %} Сброс пароля {% endblock %}
{% block field %}Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы
регистрировались{% endblock %}
{% block content %}
{% include 'includes/error.html' %}
<form method="post" {% if action_url %} action="{% url action_url %}"{% endif %}>{% csrf_token %}
  {% include 'includes/form.html' %}
    <div class=" col-md-6 offset-md-4">
  <button type="submit" class="btn btn-primary">
    Сбросить пароль
  </button>
  </div>
</form>
{% endblock %}