{% extends "base.html" %}
{% block title %} Войти на сайт {% endblock %}
{% block content %}
{% include 'includes/error.html' %}
<form method="post" {% if action_url %} action="{% url action_url %}"{% endif %}>{% csrf_token %}
  {% include 'includes/form.html' %} <div class="col-md-6 offset-md-4">
  <button type="submit" class="btn btn-primary">
    Login
  </button>
  <a href="{% url 'users:password_reset_form' %}" class="btn btn-link">
    Password forgot?
  </a>
  </div>
</form>
{% endblock %}